################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MorningBrew/v15
/packages
/MorningBrew/MorningBrew/obj/Debug
/MorningBrew/MorningBrew/bin/Debug
/MorningBrew/MorningBrew.iOS

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp